<div class="container-about">
  <div class="card">
    <div class="info">
      <span class="title">Quem Somos?</span>
      <span class="description">
        <p>Monitorando Amazonas é uma aplicação web para monitoramento de território utilizado para o agropastoris.
          Através de gráficos, a responsabilidade da aplicação é mostrar toda a utilização do território das fazendas
          cadastradas na prefeitura de Xapuri.
          Com a disponibilização da aplicação, será possivel ver o cruzamento de dados, tais como:</p>
        <p>Total de hectares;</p>
        <p>Total de hectares desmatados;</p>
        <p>Total de hectares reflorestados;</p>
        <p>Total de hectares utilizados para plantio;</p>
        <p>Nós da Monitorando Amazonas temos a total certeza, de que, com o passar dos anos, nossa aplicação ajudará
          muito no combate do desmatamento ilegal. Novas ideias estão por vir, não fique de fora dessa luta.</p>
      </span>
    </div>
    <div class="info">
      <span class="title">Nossa Equipe</span>
      <span class="description">
        <p>Dois Engenheiros agrônomos - Capacitados para fazer todo o levantamento de campo, e coletar os dados
          para
          serem transformados em informações.</p>
        <p>Um DBA - Responsável por todo o banco de dados que fará integração com a aplicação;</p>
        <p>Dois desenvolvedores BACK-END - Responsáveis por criarem todas api's para alimentar a aplicação;</p>
        <p>Um desenvolvedor FRONT-END - Responsável por criar nossa aplicação web;</p>
        <p>Um QA - Responsável por todos os testes de qualidade da aplicação;</p>
      </span>
    </div>

    <div class="info">
      <span class="title">Nosso Produto</span>
      <span class="description">
        <p>O intuito da nossa aplicação, é auxiliar os profissionais responsáveis por auditar, monitorar, fiscalizar e
          vistoriar fazendas do segmento de agropastoris do estado do Amazonas.
          Disponibilizando gráficos para o cruzamento de dados, para facilitar os fiscais das prefeituras credenciadas,
          a encontrarem divergências, falta de responsabilidade, agressão ao meio ambiente e etc.</p>
      </span>
    </div>

    <div class="info">
      <span class="title">Arquitetura</span>
      <span class="description">
        <p>FRONT-END - Angular 11, comunicando com uma aplicação webApi.</p>
        <p>BACK-END - Aplicação webApi em Java utilizando o FrameWork SpringBoot, cominucando com uma base de dados em
          mongoDB.</p>
        <p>DATABASE - Banco de dados usando MongoDB. A utilização do mesmo, reduz custo na infraestrutura do projeto e
          acarreta melhor performace por seu schema em JSON.</p>
        <p>DEPLOY - Para expor nossas aplicações, usaremos o Heroku, é uma plataforma cloud gratuita que já faz
          integração com o GITHUB. Reduz o custo na infraestrutura do projeto, e é eficiente para o momento do projeto.
        </p>
      </span>
    </div>

  </div>
</div>
